/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

button {
    width: 50px;
    border: 0px;
    border-radius: 20px;
    padding: 5px;
    margin: auto;

}

a {
    color: white;
    text-decoration: none;
}

/* header */


header { 
    background-image: url(img/jumbo.png);
    height: fit-content;
    padding: 15px 0px 0px 0px;
}

nav {
    display: flex;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-grow: 1;
}


#login {
text-align: end;
}

#logo {
    width: fit-content;
}

#link {
    flex-grow: 1;
    text-align: center;
}

nav > div {
    border: 2px dotted black;
    padding: 2px;
    flex-grow: 1;
}

#top {
    margin-top: 15px;
}


.top.square {
    width: 70%;
    margin: auto;
}

/* main */


section {
    margin: auto;
    padding: 50px 0px;
}

.container > div {
    border: 2px dotted black;
}

main > :nth-child(odd) {
    background-color: #d3d3d3;
}

main > :nth-child(3) > div {
    flex-direction: row-reverse;
}


.first {
    background-color: #1e90ff;
    flex-grow: 1.5;
}

.second {
    background-color: #ffc0cb;
    flex-grow: 1;
}

.bottom.square {
        background-color: green;
        flex-grow: 1;
    }
    

/* footer */

footer {
    background-color: #23272a;
    padding-top: 20px
}

footer > * {
    margin: auto;
}

.container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 65%;

}

.left {
    background-color: #f08080;
    flex-grow: 1;
}

.right {
    display: flex;
    background-color: #20b2aa;
    flex-grow: 2;
}

.right > div {
    flex-grow: 1;
    border: 2px dotted white;
}

.foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7fffd4;
    margin-top: 25px;
    width: 65%;
    padding: 10px 0px;

}

.foot > * {
    background-color: #ffb6c1;
    border: 2px dotted black;
    padding: 3px;
}


/* da eliminare dopo lo sviluppo */

.container > div {
    height: 300px;
}

.top.square {
    height: 200px;
}